@* Kopplar vyn till modellen Artists *@
@model Artists
@* Använder _layout-filen för att ge enhetlig design *@
@{
    Layout = "_layout";
}
<div class="d-flex justify-content-center my-5">
    <h2 class="fs-1">Add your artist</h2>
</div>
<div class="d-flex justify-content-center my-5">
    @* Asp-action anger vilken metod i controllern som formuläret ska skicka data till *@
    <form asp-action="Create">
        <div class="py-2 d-flex justify-content-between">
            <strong class="pe-3">First name</strong>
            @* Asp-for kopplar input-fältet till egenskapen FirstName från modellen *@
            <input asp-for="FirstName">
        </div>
        <div class="py-2 d-flex justify-content-between">
            <strong class="pe-3">Last name</strong>
            @* Asp-for kopplar input-fältet till egenskapen LastName från modellen *@
            <input asp-for="LastName">
        </div>
        <div class="py-2 float-end create-btn-color">
            @* Knapp som skickar formuläret *@
            <input class="rounded" type="submit" value="Create">
        </div>
    </form>
</div>
